        
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
            display: flex;
            /* border: 2px solid red; */

        }

        .nav-part-1 {
            width: 30vw;
            justify-content: center;
        }

        .nav-part-2 {
            width: 55vw;
            justify-content: flex-end;
        }

        .nav-part-3 {
            width: 15vw;
            justify-content: center;
        }

        .items {
            height: 11vh;
            /* border: 2px solid grey; */
            display: flex;
            align-items: center;
        }

        .nav-part-1 img {
            height: 70px;
        }

        .nav-part-3 img {
            width: 80px;
        }
        div ul {
            display: flex;
            list-style: none;
            gap: 39px;
        }