*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 800px;
    
}
.navbar{
    display: grid;
    grid-template-columns: 45vw 55vw;
    
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: black;
}
.items{
    display: flex;
    align-items: center;
    gap: 11px;
}
.navbar img{
    width: 50px;
    border-radius: 50%;
    margin-left: 33px;
}
.navbar h2{
    color: white;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    list-style: none;
}
.navbar li {
    color: white;
}

.box-1{
    width: 100vw;
    height: 600px;
    
}
.oranges{
    width: 100vw;
    margin-top: 60px;
}

.fixbox{
    position: fixed;
    top: 40%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.499);
    width: 40vw;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;

}
.fixbox h1, p{
    color: white;
}
