* {
    margin: 0;
    padding: 0;
}

.container {
    /* background: [image] [repeat] [position]/[size]; */
    background: url(https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&w=1200) no-repeat center/cover; 
    

    width: 100vw;
    height: 500px;
    border: 1px solid black;
}

.container ul {
    display: flex;
    gap: 10vw;
    list-style: none;
    margin-top: 1vw;
    /* margin-left: 4vw; */
    padding-left: 4vw;
}