* {
    margin: 0;
    padding: 0;
}

.mainbox {
    /* every elements is inside this container, it is a mother container */
    background-color: black;
    height: 1500px;
    width: 100vw;
    padding-top: 50px;

}

.navbar {
    /* making this nav bar sticky so that it will stick to top while scrolling downwards */
    position: sticky;
    z-index: 999;
    top: 0px;
    background-color: rgb(248, 88, 248);
    height: 50px;
    width: 1390px;
    margin: 0px 40px 14px 40px;

}

.sec-mainbox {
    background-color: rgb(19, 145, 19);
    height: 450px;
    width: 1390px;
    margin: 0px auto 7px auto;
}

.sec-mainbox-child1 {
    display: block;
    position: relative;
    top: 75px;
    left: 100px;
    background-color: rgb(255, 174, 0);
    height: 300px;
    width: 550px;

}

.sec-mainbox-child2 {
    display: block;
    position: relative;
    left: 750px;
    bottom: 225px;
    background-color: rgb(0, 132, 255);
    height: 300px;
    width: 550px;

}

.third-mainbox {
    color: white;
    border: 2px solid white;
    padding: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    margin: 0 140px;
}

.fixed-circle {
    display: inline-block;
    background-color: rgb(255, 174, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    left: 90vw;
    bottom: 30px;

}

.footer {
    background-color: grey;
    height: 100px;
    width: 100vw;
}